version: '3.8'
services:
  app:
    container_name: myapp
    build: .
    ports:
      - "80:80"
    depends_on:
      - db
  db:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
